<div class="row is-one-quarter">
  <article class="media">
      <div class="media-content">
        <div class="content">
          <%= render 'words/form' %>
        </div>
      </div>
    </article>
</div>
