<section class="section">
  <div class="container">
    <div class="rows">
      <%= render 'search' %>
      <br/>
      <h1><strong>Last 5 words found:</strong></h1>
      <br/>
      <%= render 'history' %>
    </div>
  </div>
</section>
